.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
  }
  
  .modal_closed {
    visibility: hidden;
    opacity: 0;
  }
  .modal__close-button {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 20px;
    right: 24px;
    background-image: url(../../images/close-button.svg);
    background-color: transparent;
    border: none;
    
  }
  .modal__close-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .modal__content {
    width: 496px;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    
  }
  .modal__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 28px;
  }
  .modal__form-title {
    margin-top: 28px;
    margin-left: 28px;
    margin-bottom: 15px;
  }
  .modal__form-submit-button {
    width: 124px;
    height: 36px;
    border-radius: 4px;
    margin-top: 32px;
    margin-bottom: 36px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border: none;
  }
  
  .modal__form-submit-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .form__name {
    margin-top: 24px;
    margin-bottom: 14px;
  }
  .form__label {
    margin-left: 8px;
    opacity: 50%;
  }
  .form__label_error {
    color: #ff4d00;
  }
  .form__input {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding-left: 0;
    padding-bottom: 4px;
    border: none;
    border-bottom: #000 solid 1px;
    width: 100%;
  }
  .form__input_error {
    color: #ff4d00;
    padding: 5px;
    border: none;
    border-bottom: #ff4d00 solid 1px;
  }
  .form__option {
    margin: 8px 0px;
  }
  
  .form__input_option {
    accent-color: black;
    opacity: 50%;
    margin: 0;
  }
  .form__input_option:checked,
  .form__input_option:checked + label {
    accent-color: #000;
    opacity: 100%;
  }