.weather {
    position: relative;
    padding: 0px 20px;
}

.weather__info {
    position: absolute;
    font-size: 36px;
    top: 16px;
    left: 45px;
    color: #fff;
}

.weather__image {
    width: 100%;
}