.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 20px;
    min-height: 60px;
}

.header__logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__button {
    background-color: transparent;
    border: none;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.header__avatar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__location {
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.header__name {
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
}