.modal__close-item {
    position: relative;
    top: -5px;
    left: 460px;
    background-image: url("../../images/close-button.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: gray;
    border: none;
    height: 40px;
    width: 40px;
}

.modal__close-item:hover {
    cursor: pointer;
}

.modal__content-item {
    background-color: #fff;
    max-width: 496px;
    border-radius: 20px;
    padding: 20px 30px 30px 30px;
}

.modal__image {
    width: 498px;
    height: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.modal__caption {
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    background: #ffffff;
    color: #000000;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

