.modal__content {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    position: fixed;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 10px;
  }
  .modal__close-button {
    position: relative;
    top: 10px;
    left: 445px;
    background-image: url("../../images/close-button.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: gray;
    border: none;
    height: 40px;
    width: 40px;
  }
  .modal__close-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .modal__image {
    background-size: contain;
    border-radius: 10px;
    max-height: 590px;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal__name {
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .modal__weather {
    margin-left: 30px;
    margin-top: 0px;
  }
  .modal__delete-button {
    font-weight: 700;
    position: absolute;
    bottom: 74px;
    right: 20px;
    border: none;
    background: transparent;
    color: rgba(255, 77, 0, 1);
    line-height: 24px;
    font-size: 20px;
  }
  .modal__delete-button:hover {
    cursor: pointer;
  }
