.sidebar {
    display: flex;
    width: 257px;
    height: 56px;
    margin-left: 35px;
    margin-right: 70px;
}

.sidebar__avatar {
    height: 56px;
    width: 56px;
    padding-right: 10px;
}

.sidebar__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    height: 25px;
    width: 230px;
}